@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Merriweather', serif;
}

.hero {
    display: grid;
    grid-template-columns: 480px 480px 480px;
    grid-template-rows: 325px 325px;
    margin: auto;
    width: 1440px;
    margin-bottom: 400px;
}

.heroimg {
    max-width: 1440px;
}

.herobox {
    background-color: white;
    height: 537px;
    width: 741px;
    grid-column: 1/2;
    grid-row: 2/3;
    margin-left: 63px;
    margin-top: 60px;
    box-shadow: 0px 4px 100px rgba(0, 0, 0, 0.1);
}

.herobox__headline {
    font-weight: 700;
    font-size: 39px;
    width: 521px;
    margin-top: 96px;
    margin-left: 64px;
}

.herobox__copy {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: black;
    opacity: 0.6;
    max-width: 515px;
    margin-top: 29px;
    margin-left: 64px;
}

.herobox__button {
    display: flex;
    width: 250px;
    background-color: rgba(247, 128, 101, 1);
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    height: 65px;
    border: none;
    margin-left: 62px;
    margin-top: 29px;
    cursor: pointer;
}

.herobox__icon {
    margin-left: 69px;
    margin-top: 21px;
    width: 24px;
    margin-right: 8px;
}

.herobox__p {
    margin-top: 22px;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
}

/* Services */
.services {
    display: flex;
    justify-content: space-between;
    width: 1240px;
    margin: auto;
}

.servicebox {
    width: 386px;
}

.servicebox__header {
    font-size: 24px;
    margin-bottom: 1em;
    margin-top: 84px;
}

.servicebox__text {
    color: black;
    opacity: 0.5;
    margin-bottom: 1.5em;
    font-family: 'Montserrat', sans-serif;
}

.servicebox__link {
    text-decoration: none;
    color: #F78065;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}


/*  Facilities */
.facilities {
    display: grid;
    width: 1240px;
    margin: 240px auto;
}

.facility {
    max-width: 275px;
    grid-row: 2/3;
    display: grid;
    height: 265px;
}

.facilities-headline {
    width: 758px;
    grid-column: 1/5;
    font-size: 36px;
    margin-bottom: 108px;
}

.facility__text {
    color: black;
    font-family: 'Montserrat';
    font-size: 14px;
    opacity: 0.5;
    height: 72px;
}

.facility__link {
    color: #F78065;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 18px;
    text-decoration: none;
}

/* Sites */

.sites {
    display: flex;
    margin: auto;
    width: 1240px;
}

.sites__box {
    width: 325px;
    margin-right: auto;
}

.sites__title {
    font-size: 36px;
    margin-bottom: 32px;
}

.sites__des {
    color: black;
    opacity: 0.5;
}

.sites__button {
    display: flex;
    width: 250px;
    margin-top: 69px;
    height: 65px;
    border: none;
    background: #F78065;
    color: white;
    font-weight: 700px;
    font-size: 18px;
    font-family: 'Montserrat';
}

.sites__icon {
    margin-left: 87px;
    margin-top: 21px;
}

.sites__btnp {
    width: 47px;
    font-size: 18px;
    margin-top: 22px;
}

.sites__name {
    margin-top: 24px;
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 8px;
}

.sites_city {
    margin-bottom: 11px;
}

.sites__link {
    text-decoration: none;
    color: #F78065;
    font-weight: 500;
    font-size: 18px;
}

.sitebox__img {
    max-width: 230px;
    height: 418px;
    margin-right: 49px;
}


/* Advantages */
.advantages {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 232px auto;
    width: 1240px;
}

.advantages__article {
    display: grid;
    width: 386px;
}

.advantages__title {
    grid-column: 1/4;
    font-weight: 700;
    font-size: 36px;
    margin-bottom: 108px;
}

.advantages__icon {
    margin-bottom: 64px;
}

.advantages__headline {
    font-weight: 700;
    font-size: 22px;
    height: 56px;
}

.advantages__p {
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: #000000;
    opacity: 0.5;
    height: 96px;
    margin-top: 24px;
}

/* Footer */
footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: space-between;
    width: 1440px;
    background: #F7F7F7;
    height: 575px;
    margin: auto;
}

.footer__title {
    margin-bottom: 16px;
}

.footer__box {
    width: 304px;
    margin-left: 103px;
    margin-top: 96px;
    margin-right: 100px;
}

.footer__text {
    font-weight: 700;
    font-size: 48px;
    color: #000000;
}

.footer__article {
    margin-top: 96px;
    width: 195px
}

.footer__headline {
    margin-bottom: 1em;
    font-weight: 700;
    font-size: 18px;
}

.footer__link {
    display: block;
    margin-bottom: 1em;
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
    color: black;
}

hr {
    width: 1237px;
    grid-column: 1/5;
    margin-left: 103px;
    height: 1px;
}

.footer__links {
    grid-row: 3/4;
    grid-column: 3/5;
    margin-left: 18px;
    display: flex;
    width: 483px;
    justify-content: space-between;
}

.footer__a {
    text-decoration: none;
    color: #000000;

}

.footer__copy{
    margin-left: 100px;
}